<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>View Category: <span th:text="${category.name}"></span></h1>
<a href="/categories">List of Categories</a>
<table border="1">
    <tr>
        <th>Author</th>
        <th>Title</th>
    </tr>
    <th:block th:each="blog : ${blogList}">
        <tr>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.title}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>